<div class="container vh-100">
  <!-- Game Header-->
  <div class="row">
     <div app-game-header class="row flex-fill"></div>
  </div>
  <!-- Score Board-->
  <div class="row">
    <div class="col-12">
      <app-scoreboard></app-scoreboard>
    </div>
  </div>
  <!-- Table Board -->
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-5">
      <app-table-board [isPlayer1]="isPlayerOne" (tableBoard)="checkWinner($event)" [needRestart]="isRestart" (restartDone)="handleRestart()"></app-table-board>
    </div>
  </div>
  
  <!-- Exit Game -->
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-1">
      <app-game-exit></app-game-exit>
    </div>
  </div> 
</div>
