<table class="table table-bordered text-center">
    <thead>
        <tr>
            <td>{{ playerOne() }}</td>
            <td>{{ playerTwo() }}</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ p1Score() }}</td>
            <td>{{ p2Score() }}</td>
        </tr>
    </tbody>
</table>

<!-- Player turn -->
<div class="text-center">
    Turn for the player
    <span [class]="playerTurn() === 'X' ? 'x-player' : 'o-player'"> 
        {{ playerTurn() }} 
    </span>
</div>
