<table class="table table-bordered text-center mb-1">
    <thead>
        <tr>
            <td>{{ playerOne() }}</td>
            <td>{{ playerTwo() }}</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-style">{{ p1Score() }}</td>
            <td class="text-style">{{ p2Score() }}</td>
        </tr>
    </tbody>
</table>
@if(isWinner()){
    <div class="text-center winner">
        Winner <span>{{ getPlayerName() }}</span>
    </div>
} @else if(isEquals()){
    <div class="text-center players-tie">
        It's a tie!
    </div>
} @else{
    <!-- Player turn -->
    <div class="text-center">
        Turn for the player
        <span [class]="playerTurn() === 'X' ? 'x-player' : 'o-player'"> 
            {{ playerTurn() }} 
        </span>
    </div>
}

