<table class="table text-center">
    @for (row of table(); let i = $index; track i) {
        <tr>
            @for (col of row; let x = $index; track x) {
                <td (click)="cellClick(i,x)" >
                    <span class="player" 
                    [class.o-player]="col?.toLowerCase() === 'o'" 
                    [class.x-player]="col?.toLowerCase() === 'x'" 
                    [class.winner]="isWinningCell(i,x)">{{ col }}</span>
                </td>
            }
        </tr>
    }
</table>
