<div class="container vh-100 d-flex flex-column">
    <!-- Game title -->
    <div class="row flex-fill">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <img src="assets/images/logo.png" class="img-fluid" alf="TIC TAC TOE">
        </div>
    </div>
    <!-- PLayers inputs -->
    <div class="row flex-fill">
        <div class="col-12 d-flex justify-content-center align-items-top">
            <div class="d-flex flex-column w-25">
                <input type="text" class="form-control" id="pOne" placeholder="Player 1">
                <input type="text" class="form-control mt-2" id="pTwo" placeholder="Player 2">
            </div>
        </div>
    </div>
</div>
