<div class="container vh-100 d-flex flex-column">
    <!-- Game title -->
    <div app-game-header class="row flex-fill"></div>
    
    <!-- PLayers inputs -->
    <div class="row flex-fill">
        <div class="col-12 d-flex justify-content-center align-items-top">
            <form [formGroup]="loginForm" (ngSubmit)="startGame()" class="d-flex flex-column w-50">
                <input (focus)="playInputSound()" formControlName="player1" type="text" class="form-control input-game" id="pOne" placeholder="Player 1" [class.error]="loginForm.get('player1')?.invalid && loginForm.get('player1')?.touched">
                <input (focus)="playInputSound()" formControlName="player2" type="text" class="form-control mt-2 input-game" id="pTwo" placeholder="Player 2" [class.error]="loginForm.get('player2')?.invalid && loginForm.get('player2')?.touched">
                <button class="btn-game mt-2" type="submit" [disabled]="loginForm.invalid">Play</button>
                <!-- errors -->
                @if (loginForm.hasError('namesEqual') || (loginForm.invalid && loginForm.get('player1')?.touched && loginForm.get('player2')?.touched)) {
                    <div class="alert alert-danger mt-2">
                        @if (loginForm.get('player1')?.hasError('required') && loginForm.get('player1')?.touched) {
                            <p class="mb-0">Player 1 is required.</p>
                        }
                            
                        @if (loginForm.get('player2')?.hasError('required') && loginForm.get('player2')?.touched) {
                            <p class="mb-0">Player 2 is required.</p>
                        }

                        @if (loginForm.hasError('namesEqual')) {
                            <p class="mb-0">The names cannot be the same.</p>
                        }
                    </div>
                }
            </form>
        </div>
    </div>
</div>
